.btn {
  border: none;
  border-radius: 100%;
  margin: 5px;
  padding: 8px 8px 6px 8px;
  background-color: transparent;
  fill: #FF4081;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: #FF4081;
    fill: #fff;
  }
}

.playpause {
  background-color: #FF4081;
  fill: #fff;
  box-shadow: 1px 2px 2px #383838;
}