.slider {
  background-color: grey;
  padding: 0px;
  margin: 0 auto;
  height: 20px;
  overflow-y: visible;
  height: 5px;
  width: 100%;
  position: relative;
}

.track {
  background-color: lightblue;
  height: 5px;
}

.thumb {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #fff;
}