$primary: blue;
$dividers: lightgray;
$fontcolor: black;

html, body, div#app, div.container {
  height: 100%;
}

html {
  font-size: 62.5%;
}

*:focus {
  outline: none!important;
}

img {
  height: auto;
  max-width: 200px;
}

.container {
  text-align: center;
  color: $fontcolor;
}

hr {
  width: 35%;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid $dividers;
}

.red {
  color: red;
  border-bottom: 3px solid red;
}

.blue {
  color: blue;
  border-bottom: 3px solid blue;
}

input {
  margin: 0 10px 10px;
}
