$primary: blue;
$dividers: lightgray;
$fontsize: 1rem;
$fontcolor: black;

html, body, div#app, div.container {
  height: 100%;
}

img {
  height: auto;
  max-width: 200px;
}

.container {
  text-align: center;
  color: $fontcolor;
  background-color: gray;
  div {
    border: 1px solid #efefef;
  }
  .main {
    height: 66%;
  }
  .sub {
    height: 33%;
  }
  h1 {
    font-size: calc($fontsize * 2);
  }
}

button {
  padding: 8px;
}

hr {
  width: 35%;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid $dividers;
}

.timer {
  font-size: calc($fontsize * 3);
  letter-spacing: 0.25rem;
}

.red {
  color: red;
  border-bottom: 3px solid red;
}

.blue {
  color: blue;
  border-bottom: 3px solid blue;
}