@import "material-colors/dist/colors.scss";

$fontcolor: #fff;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

html, body, div#app {
  height: 100%;
  background-color: $md-blue-grey-700;
  color: #fff;
}

.container {
  text-align: center;
}

html {
  font-size: 62.5%;
}

*:focus {
  outline: none!important;
}

img {
  height: auto;
  max-width: 200px;
}

input {
  margin: 0 10px 10px;
}
