@keyframes RIPBlinkTag { /* :'( */
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.timer {
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 20px 0;
  padding: 0;
  &.paused {
    animation: RIPBlinkTag 1.25s infinite ease-out;
  }
}

.percbg {
  height: 3px;
  width: 100%;
  background-color: #999;
}

.percfilled {
  height: 3px;
  background-color: #6ef1e9;
  margin: 0 auto;
  transition: width 0.3s linear;
}