.audiocontrolswrap {
  margin: 20px auto;
  width: 45%;
}

.iconwrap, .sliderwrap {
  display: inline;
  float: left;
}

.iconwrap {
  position: relative;
  top: -6px;
  width: 30px;
}
.sliderwrap {
  width: 120px;
}



