.audiocontrolswrap {
  width: 100%;
}

.audiocontrolsinner {
  margin: 20px auto;
  width: 45%;
  overflow: visible;
}

.iconwrap, .sliderwrap {
  display: inline;
}

.iconwrap {
  position: relative;
  top: 7px;
  width: 24px;
  height: 20px;
  display: inline-block;
  fill: #fff;
}
.sliderwrap {
  width: 120px;
  display: inline-block;
}



